@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Michroma', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    background-color: #252525;
    align-items: center;
}

.cabecalho-menu-items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.cabecalho-menu-items-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    color: white;
}

.cabecalho-menu-items-navbar:hover{
    opacity: 0.7;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.newsletter{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    padding: 50px 40px;
    text-align: center;
    color: #F7F7F8;
    font-family: 'Gotham', sans-serif;
    background-color: #1A73E8;
    background-image: url(/isabelle-nail-designer-logo.svg);
    background-repeat: repeat;
    background-size: 100px;
    background-blend-mode: color-burn;
}

.em-desenvolvimento{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    height: 600px;
}

.em-desenvolvimento-items{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;   
    gap: 0px
    ; 
}

.card-envolvido{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    gap: 5px;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;  
    width: 250px;
    height: 500px; 
    background: rgb(137,137,138);
    background: linear-gradient(21deg, rgba(137,137,138,1) 35%, rgba(241,242,244,1) 100%); 
    border-radius: 10px;
    border: solid 0.5px #252525;
}

.foto-envolvido{
    width: 50%;
    clip-path: circle();
}

.descricao-envolvido{
    font-size: 12px;
}



.h1{
    font-size: 20px;
}
 
.p{
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
}

.email-box{
    display: flex;
    justify-content: center;
    height: 40px;

}

.tbox, .btn{
    border:none;
    outline: none;
}

.tbox{
    width: 200px;
    padding: 0 10px;
    background-color: #F7F7F8;
}

.btn{
    background: #202124;
    padding: 0 10px;
    color: #F7F7F8;
    cursor: pointer;       
}

.rodape-social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #F7F7F8; 
    border-radius: 0px 0px 0px 0px;  
    font-family: 'Gotham', sans-serif;    
}


.rodape-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rodape-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.midias-sociais{
    display: flex;
    color: #202124;
    font-size: 20px;
}

.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    font-size: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}
  
  
.fa:hover {
    box-shadow: 0 0px 15px #202124;
    transform: translate(calc(70px * 0));
    opacity: 0.9;
}
  

.fa-facebook {
    background: #202124;
    
    color: white;
    border-radius: 10px;
}
  
.fa-twitter {
    background: #202124;
    color: white;
    border-radius: 10px;
}
  
.fa-instagram {
    background: #202124;
    color: white;
    border-radius: 10px;
}

.fa-linkedin {
    background: #202124;
    color: white;
    border-radius: 10px;
}

.fa-envelope{
    background: #202124;
    color: white;
    border-radius: 10px;
}

.informacoes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202124;
    bottom: 0;
    width: 100%;   
}

.informacoes-footer-texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    max-width: 80%;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Gotham XLight', sans-serif;
}